openapi: "3.1.0"
info:
  title: Neura API
  description: |
    External brain for AI agents. Gives stateless agents persistent
    memory and state via simple HTTP endpoints.

    Every error is machine-readable so agents can retry intelligently
    without human help.

    Base URL: `https://neura.sh`
  version: "0.1.0"
  contact:
    name: Neura
    url: https://neura.sh
servers:
  - url: https://neura.sh
    description: Production
  - url: http://localhost:3000
    description: Local dev
paths:
  /api/memory:
    post:
      summary: Store a memory
      description: |
        Stores a piece of information with automatic embedding via OpenAI.
        The content is vectorized and indexed for semantic search.

        Use this for: facts, preferences, conversation summaries, task results.
      operationId: createMemory
      tags: [Memory]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMemoryInput"
            example:
              content: The user prefers dark mode in all applications
              tags: [preference, ui]
              importance: 8
              metadata:
                source: conversation
                category: preference
      responses:
        "201":
          description: Memory created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Memory"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "402":
          $ref: "#/components/responses/PaymentRequired"

    get:
      summary: Search or list memories
      description: |
        Performs semantic search when a `query` parameter is provided.
        Returns the most recent memories when no query is given.

        Results are ranked by cosine similarity (0.0 - 1.0).
      operationId: searchMemories
      tags: [Memory]
      security:
        - bearerAuth: []
      parameters:
        - name: query
          in: query
          description: Natural language search query
          schema:
            type: string
          example: What are my risk preferences?
        - name: limit
          in: query
          description: Maximum results to return (max 100)
          schema:
            type: integer
            default: 10
            maximum: 100
        - name: min_score
          in: query
          description: Minimum similarity score (0.0 - 1.0)
          schema:
            type: number
            default: 0.0
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Memory"
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                      query:
                        type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/memory/search:
    post:
      summary: Advanced memory search
      description: |
        Search memories with fine-grained control: date ranges, tag filtering,
        metadata matching, and minimum relevance thresholds.

        When an agent needs precision, use this instead of `GET /api/memory`.
      operationId: advancedSearch
      tags: [Memory]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchMemoryInput"
      responses:
        "200":
          description: Filtered search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Memory"
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                      query:
                        type: string
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/memory/{id}:
    patch:
      summary: Update a memory
      description: |
        Update content, metadata, tags, or importance.
        If content changes, the embedding is automatically regenerated.

        Agent tip: use this to correct facts or increase importance
        on critical information.
      operationId: updateMemory
      tags: [Memory]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMemoryInput"
      responses:
        "200":
          description: Memory updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Memory"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      summary: Delete a memory
      operationId: deleteMemory
      tags: [Memory]
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Memory deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      deleted:
                        type: boolean
                        enum: [true]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/state:
    post:
      summary: Set state
      description: |
        Store or update a key-value state entry.
        State is persistent between agent sessions.

        Use this for: current goals, user settings, progress flags,
        configuration values that should survive context loss.
      operationId: setState
      tags: [State]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertStateInput"
            example:
              key: current_goal
              value:
                task: Build the API
                priority: high
      responses:
        "201":
          description: State saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StateEntry"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

    get:
      summary: List all state
      description: Returns all key-value state entries for this agent.
      operationId: listState
      tags: [State]
      security:
        - bearerAuth: []
      responses:
        "200":
          description: All state entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/StateEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/state/{key}:
    get:
      summary: Get state by key
      operationId: getState
      tags: [State]
      security:
        - bearerAuth: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: State entry
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/StateEntry"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      summary: Delete state by key
      operationId: deleteState
      tags: [State]
      security:
        - bearerAuth: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: State deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      key:
                        type: string
                      deleted:
                        type: boolean
                        enum: [true]
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: sk-xxx
      description: |
        API key in the format `sk-...`.
        Generate keys via the Neura dashboard or bootstrap endpoint.

  schemas:
    Memory:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
          description: The stored text content
        metadata:
          type: object
          description: Arbitrary JSON metadata
        tags:
          type: array
          items:
            type: string
          description: Classification tags
        importance:
          type: integer
          minimum: 0
          maximum: 10
          description: 0-10 importance scale
        score:
          type: number
          description: Cosine similarity (present only in search results)
        expires_at:
          type: string
          format: date-time
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateMemoryInput:
      type: object
      required: [content]
      properties:
        content:
          type: string
          description: Text content to store and embed
        metadata:
          type: object
          description: Optional JSON metadata
        tags:
          type: array
          items:
            type: string
        importance:
          type: integer
          minimum: 0
          maximum: 10
          default: 0
        expires_at:
          type: string
          format: date-time
          nullable: true

    UpdateMemoryInput:
      type: object
      properties:
        content:
          type: string
        metadata:
          type: object
        tags:
          type: array
          items:
            type: string
        importance:
          type: integer
          minimum: 0
          maximum: 10

    SearchMemoryInput:
      type: object
      properties:
        query:
          type: string
          description: Natural language query
        filters:
          type: object
          properties:
            tags:
              type: array
              items:
                type: string
            importance_min:
              type: integer
              minimum: 0
              maximum: 10
            importance_max:
              type: integer
              minimum: 0
              maximum: 10
            metadata:
              type: object
            date_from:
              type: string
              format: date-time
            date_to:
              type: string
              format: date-time
        limit:
          type: integer
          default: 10
          maximum: 100
        min_score:
          type: number
          default: 0.0

    UpsertStateInput:
      type: object
      required: [key, value]
      properties:
        key:
          type: string
          description: State key
        value:
          description: Any JSON-serializable value

    StateEntry:
      type: object
      properties:
        key:
          type: string
        value: {}
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ApiError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
              example: rate_limited
            message:
              type: string
              description: Human-readable description
            action:
              type: string
              description: Suggested action for the agent
              example: wait_and_retry
            retry_after:
              type: integer
              description: Seconds to wait before retrying
              example: 5
            docs_url:
              type: string
              format: uri
              description: Link to relevant documentation
      required:
        - code
        - message

  responses:
    ValidationError:
      description: Invalid request body or parameters
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            error:
              code: validation_error
              message: content is required and must be a string
              action: fix_request_body

    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            error:
              code: unauthorized
              message: Missing or invalid API key
              action: provide_valid_api_key
              docs_url: https://neura.sh/docs/authentication

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            error:
              code: not_found
              message: Memory not found
              action: check_resource_id

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
            enum: [0]
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            error:
              code: rate_limited
              message: Rate limit exceeded. Please wait and retry.
              action: wait_and_retry
              retry_after: 5

    PaymentRequired:
      description: Insufficient credits (x402 payment required)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ApiError"
          example:
            error:
              code: payment_required
              message: Insufficient credits
              action: send_payment
              retry_after: 30
              docs_url: https://neura.sh/docs/payments
